<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>管理员登录</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <link rel="stylesheet" href="static/css/login.css">
    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <script>
        $(document)
            .ready(function () {
                $('.ui.form')
                    .form({
                        fields: {
                            email: {
                                identifier: 'email',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your e-mail'
                                    },
                                    {
                                        type: 'email',
                                        prompt: 'Please enter a valid e-mail'
                                    }
                                ]
                            },
                            password: {
                                identifier: 'password',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: 'Please enter your password'
                                    },
                                    {
                                        type: 'length[6]',
                                        prompt: 'Your password must be at least 6 characters'
                                    }
                                ]
                            }
                        }
                    })
                ;
            })
        ;
    </script>
</head>
<body>

<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui red image header">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/ChunTei_Black_Fu_CNS11643_Kai.svg/1200px-ChunTei_Black_Fu_CNS11643_Kai.svg.png" alt="" class="ui avatar image">
            京信集团年会抽奖管理后台
        </h2>
        <form class="ui large form" id="loginForm">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" placeholder="用户名">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="ui fluid large red submit button" id="loginBtn">登录</div>
            </div>

            <div class="ui error message"></div>

        </form>
    </div>
</div>
<th:block th:replace="~{fgm::script}">

</th:block>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
<script>
    $('#loginBtn').click(function () {
        $('#loginForm').form('validate form')
    })
    $('#loginForm').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '用户名不能为空'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '密码不能为空'
                }]
            }
        },
        onSuccess: function () {
            $.ajax({
                url:"/login",
                type:'POST',
                data: $('#loginForm').serialize(),
                resultType:"JSON",
                success:(result)=>{
                    if (result.code===200){
                        toast("success","登录成功")
                        window.open("/index","_self")
                    }else {
                        toast("error",result.message)
                    }
                }
            })
        }
    })

</script>
</body>
</html>